# build output
.next

# dependencies
node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store

.idea
.vscode

.env
*.env

newrelic_agent.log

tmp
static

#ssh-keys
id_rsa

#bundle-reports
bundles
